<div class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="listably display-5 fw-bold">Bloggy Blog</h1>
        <p class="col-md-8 fs-4">Welcome to bloggy blog. A blog where I blog about tech.</p>
    </div>
</div>
